<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.atguigu.gmall.product.mapper.BaseCategory1Mapper">

    <resultMap id="BaseResultMap" type="com.atguigu.gmall.product.entity.BaseCategory1">
        <id property="id" column="id" jdbcType="BIGINT"/>
        <result property="name" column="name" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,name
    </sql>

    <resultMap id="getCategorysTreeRM" type="com.atguigu.gmall.web.CategoryVo">
        <!--一级分类-->
        <id property="categoryId" column="c1id"></id>
        <result property="categoryName" column="c1name"></result>
        <collection property="categoryChild" ofType="com.atguigu.gmall.web.CategoryVo">
            <!--二级分类-->
            <id property="categoryId" column="c2id"></id>
            <result property="categoryName" column="c2name"></result>
            <collection property="categoryChild" ofType="com.atguigu.gmall.web.CategoryVo">
                <!--三级分类-->
                <id property="categoryId" column="c3id"></id>
                <result property="categoryName" column="c3name"></result>
            </collection>
        </collection>
    </resultMap>

    <!--数据库插叙所有分类, 封装程一个嵌套的树形结构-->
    <select id="getCategoryTree"
            resultMap="getCategorysTreeRM">
        select bc1.id   c1id,
               bc1.name c1name,
               bc2.id   c2id,
               bc2.name c2name,
               bc3.id   c3id,
               bc3.name c3name
        from gmall_product.base_category1 bc1
                 left join gmall_product.base_category2 bc2 on bc1.id = bc2.category1_id
                 left join gmall_product.base_category3 bc3 on bc2.id = bc3.category2_id
    </select>


    <!--根据skuInfo的三级分类id查询完整三层路径信息-->
    <select id="getCategoryView" resultType="com.atguigu.gmall.product.entity.CategoryViewEntity">
        select bc1.id   c1id,
               bc1.name c1name,
               bc2.id   c2id,
               bc2.name c2name,
               bc3.id   c3id,
               bc3.name c3name
        from gmall_product.base_category1 bc1
                 left join gmall_product.base_category2 bc2 on bc1.id = bc2.category1_id
                 left join gmall_product.base_category3 bc3 on bc2.id = bc3.category2_id
        where bc3.id = #{c3Id}
    </select>


</mapper>
