<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.atguigu.gmall.product.mapper.SpuSaleAttrMapper">

    <resultMap id="BaseResultMap" type="com.atguigu.gmall.product.entity.SpuSaleAttr">
        <id property="id" column="id" jdbcType="BIGINT"/>
        <result property="spuId" column="spu_id" jdbcType="BIGINT"/>
        <result property="baseSaleAttrId" column="base_sale_attr_id" jdbcType="BIGINT"/>
        <result property="saleAttrName" column="sale_attr_name" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,spu_id,base_sale_attr_id,
        sale_attr_name
    </sql>

    <resultMap id="getSpuSaleAttrAndValueMP"
               type="com.atguigu.gmall.product.entity.SpuSaleAttr"
               autoMapping="true">
        <id property="id" column="id"></id>
        <collection property="spuSaleAttrValueList"
                    ofType="com.atguigu.gmall.product.entity.SpuSaleAttrValue"
                    autoMapping="true">
            <id property="id" column="vid"></id>
        </collection>

    </resultMap>

    <!--根据spuId查询销售属性的名和值-->
    <select id="getSpuSaleAttrAndValue"
            resultMap="getSpuSaleAttrAndValueMP">
        select ssa.*,
               ssav.id vid,
               ssav.sale_attr_value_name
        from gmall_product.spu_sale_attr ssa
                 left join gmall_product.spu_sale_attr_value ssav on ssa.spu_id = ssav.spu_id
            and ssa.base_sale_attr_id = ssav.base_sale_attr_id
        where ssa.spu_id = #{spuId};
    </select>

    <!--查询指定sku对应的spu定义的所有属性名和值,并且标记当前sku属性-->
    <select id="getSpuSaleAttrAndValueAndMarkSkuZH"
            resultMap="getSpuSaleAttrAndValueMP">
        select ssa.*,
               ssav.id                                       vid,
               ssav.sale_attr_value_name,
               if(skuv.sale_attr_value_id is null, '0', '1') is_checked
        from gmall_product.spu_sale_attr ssa
                 left join gmall_product.spu_sale_attr_value ssav on ssa.spu_id = ssav.spu_id
            and ssa.base_sale_attr_id = ssav.base_sale_attr_id
                 left join gmall_product.sku_sale_attr_value skuv on skuv.sku_id = #{skuId}
            and skuv.sale_attr_value_id = ssav.id
        where ssa.spu_id = #{spuId}
        order by ssa.base_sale_attr_id, ssav.id;
    </select>

    <!--根据spuId查询该spu下所有sku涉及到的所有销售属性值组合-->
    <select id="getSpuValuesSkuJson" resultType="com.atguigu.gmall.product.dto.ValueSkuJsonDTO">
        select a.sku_id,
               group_concat(distinct a.sale_attr_value_id
                            order by a.sale_attr_value_id
                            separator '|') attr_value_concat
        from (select skuv.sku_id,
                     skuv.sale_attr_value_id
              from gmall_product.sku_sale_attr_value skuv
                       left join gmall_product.spu_sale_attr_value ssav
                                 on skuv.sale_attr_value_id = ssav.id
              where skuv.spu_id = #{spuId}
              order by skuv.sku_id, ssav.base_sale_attr_id, ssav.id) a
        group by a.sku_id
    </select>
</mapper>
